<!DOCTYPE html>
<html>
<head>
</head>
<body style="padding:0; margin:0; font-family: 'Arial', sans-serif;">
<div style="background-color: #F0F0F0 !important;
            color: #30373d;
            margin: 0;
            padding: 15pt;
            text-align: left;
            border-top: 5pt solid #e74e26;
            border-bottom: 1pt solid #ccc;">
    <img src="{{ absolute_url(asset('bundles/app/images/logo-stanza.png')) }}" alt="Home" title="Home" />
    <h1 style="display: inline-block; vertical-align: top; margin-left: 10pt">La stanza del cittadino</h1>
</div>
</body>
</html>
