<div id="spinner" class="text-center" style="display: none">
  <div  class="progress-spinner progress-spinner-double progress-spinner-active size-sm">
    <div class="progress-spinner-inner"></div>
    <div class="progress-spinner-inner"></div>
    <span class="sr-only">{{ 'backoffice.integration.subscription_service.loading' | trans }}</span>
  </div>
</div>
