<button class="btn btn-link btn-xs p0" type="button" data-toggle="popover" title="{{ 'servizio.id_pratica' | trans }}" data-content="{{ row.id }}">
  <label class="sr-only">{{ 'servizio.id_pratica' | trans }}</label>
  <svg class="icon icon-sm icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use></svg>
</button>
