<div class="row">
  <div class="col-12 float-right">
    <p><small class="text-200">{{ 'calendars.info' | trans({
          '%owner%': calendar.owner.username,
          '%createdDate%': calendar.createdAt | date('d/m/Y'),
          '%updatedDate%': calendar.updatedAt | date('d/m/Y'),
          '%updatedTime%': calendar.updatedAt | date('H:i')
        }) }}</small></p>
  </div>
</div>
