{% set text_area_limit = 30 %}
{% set text_limit = 100 %}
{% if route is not defined %}
    {% set route = 'esplora_servizi_show' %}
{% endif %}

<article class="card-wrapper card-space">
    <div class="card card-bg card-big rounded shadow">
        <div class="card-body">
            <div class="category-top">
              {% if servizio.topics %}
                <span class="category">{{ servizio.topics.name }}</span>
              {% endif %}
            </div>
            <h5 class="card-title">{{ servizio.name }}</h5>
            <p class="card-text">{{ servizio.description|length > text_limit ? servizio.description|slice(0, text_limit)|striptags ~ '...' : servizio.description|striptags  }}</p>
            <a class="read-more" href="{{ path('servizi_show', {'slug': servizio.slug}) }}">
                <span class="text">Leggi di più</span>
                <svg class="icon">
                    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
                </svg>
            </a>
        </div>
    </div>
</article>
