<a class="btn btn-primary btn-xs" href="{{ path('new_application_by_operator', {'servizio': row.id}) }}">
  <svg class="icon icon-sm icon-white">
    <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-pencil"></use>
  </svg>
  <span class="d-none d-md-inline-block">{{ 'pratica.create_applications' | trans }}</span>
</a>
