:80

respond /health status 200
root * /var/www/html/public

metrics /metrics

@assets {
    path "*.js"
    path "*.css"
    path "*.svg"
    path "*.jpg"
    path "*.png"
    path "*.gif"
    path "*.pdf"
    path "*.woff"
    path "*.woff2"
    path "*.ttf"
    path "*.json"
}

header @assets {
    Cache-Control "max-age=31536000"
}

log {
  format console
}
php_fastcgi * 127.0.1.1:9000 {
  split .php
  root /var/www/html/public
  trusted_proxies private_ranges
}

encode gzip zstd
file_server
