:80

respond /health status 200
root * /srv

file_server browse
metrics /metrics

log {
  format console
}
php_fastcgi * php:9000 {
  split .php
  root /var/www/html/public
  trusted_proxies private_ranges
}
file_server
