*/1 * * * * /docroot/bin/console ocsdc:schedule:exec -i comune-di-rovereto --env=prod
*/1 * * * * /docroot/bin/console ocsdc:schedule:exec -i comune-di-tre-ville --env=prod
*/1 * * * * /docroot/bin/console ocsdc:schedule:exec -i comune-di-cavedine --env=prod
