{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <h1 class="text-center title mb-5">Login</h1>
    <div class="col-md-4 offset-md-4">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
    <hr />
    <div class="text-center mb-5">
        <a href="{{ path('fos_user_resetting_request') }}">{{ 'user.forgot_password' | trans }}</a>
    </div>
{% endblock fos_user_content %}
