{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

    <h2>{{ 'esplora_i_servizi'|trans() }}</h2>
        {% for servizio in servizi %}

            {% if loop.index % 3 == 0 %}
                <div class="row list">
            {% endif %}

                <div class="col-sm-4">
                    {{ include('@App/Servizi/parts/panel/servizio.html.twig') }}
                </div>

            {% if (loop.index % 3 == 0 or loop.last) %}
            </div>
            {% endif %}

        {% endfor %}

{% endblock %}
