{% extends '@App/Default/index.html.twig' %}

{% block main_content %}

  {% if sticky_services %}
    <section class="container px-4 my-4">
      <div class="pb-5">
        <div class="container px-4">
          <div class="row mt-5">
            <div class="col">
              <h3 class="mb-4 text-primary">{{ 'servizi_primo_piano'|trans() }}</h3>
            </div>
          </div>
          <div class="row">
            {% for servizio in sticky_services %}
              <div class="col-12">
                {{ include('@App/Servizi/parts/panel/servizio_sticky.html.twig') }}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if servizi %}
    <section class="container px-4 my-4">
      <div class="pb-5">
        <div class="container px-4">
          <div class="row mt-5">
            <div class="col">
              <h3 class="mb-4 text-primary">Tutti i servizi</h3>
            </div>
          </div>
          <div class="row">
            {% for item in servizi %}
              <div class="col-12 col-sm-6 col-lg-4">
                {% if item.type == 'service' %}
                  {{ include('@App/Servizi/parts/panel/servizio.html.twig', {'servizio':item.object}) }}
                {% else %}
                  {{ include('@App/Servizi/parts/panel/service-group.html.twig', {'servizio':item.object}) }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

{% endblock %}
