<div class="alert alert-info">
  <p>{{ 'servizio.external_card_url_message'|trans }}
    <a class="d-block" href="{{ servizio.externalCardUrl }}" target="_blank">
      <i class="fa fa-external-link"></i> {{ 'servizio.external_card_url_action'|trans }}
    </a>
  </p>
</div>
