<li>
  <a href="{% if is_granted('ROLE_OPERATORE') %}{{ path('allegati_download_operatore', {'allegato': attachment}) }}{% else %}{{ path('allegati_download_cpsuser', {'allegato': attachment.id}) }}{% endif %}" download="">
    <div class="it-right-zone">
      <span class="text"><em>{{ attachment.originalFilename }}</em></span>
      <svg class="icon">
        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-download"></use>
      </svg>
    </div>
  </a>
</li>
