{% if pratica.status != constant('\\AppBundle\\Entity\\Pratica::STATUS_PAYMENT_PENDING') %}
  <div class="font-italic text-center">{{ 'operatori.pagamento_posticipato_previsto'|trans }}</div>
{% else %}
  {% if is_granted('ROLE_OPERATORE') %}
    <div
      class="font-italic">{{ 'operatori.pagamento_posticipato'|trans({'%payment_amount%': pratica.paymentAmount | number_format(2, ',')}) | raw }}</div>
  {% elseif is_granted('ROLE_USER') %}
    <div
      class="font-italic">{{ 'operatori.pagamento_posticipato_richiesto'|trans({'%payment_amount%': pratica.paymentAmount | number_format(2, ',')}) | raw }}</div>
  {% endif %}
{% endif %}
