<div class="point-list-wrapper my-4">
  {% for timestamp, changes in pratica.storicoStati %}
    <div class="point-list">
      <div class="point-list-aside point-list-primary">
      </div>
      <div class="point-list-content">
        <div class="card card-teaser rounded p-2">
          <div class="card-body">
            <b class="">
              {% for change in changes[0] %}
                {% if change is not null and change is not iterable %}
                  {{ ('pratica.dettaglio.stato_'~change)| trans }}
                {% endif %}
              {% endfor %}
            </b>
            <br>
            il {{ timestamp|date('d/m/Y') }} alle {{ timestamp|date('H:i') }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
