{% extends 'Default/index.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main_content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Aggiorna la tua password</h1>

                {{ form_start(changeForm) }}
                {{ form_row(changeForm.oldPassword) }}
                {{ form_row(changeForm.plainPassword) }}
                <button class="btn btn-primary mt-3">Aggiorna</button>
                {{ form_end(changeForm) }}
            </div>
        </div>
    </div>
{% endblock %}
