# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    prefix: ''
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    default_from_email_address: sdc@opencontent.it

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # knp_snappy
    wkhtmlbinary:     '%kernel.root_dir%/../vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64'

    # La password usata da gpa per pushare gli status changes
    giscom_password: giscom
    giscom_adapter_url: https://www.giscom.cloud/WebAPI/SDC/
    giscom_adapter_username: pippo
    giscom_adapter_password: passw

    # La password usata da comunweb per pushare le schede informative
    ez_password: ez

    pitre_adapter_url: http://localhost:8080/
    messages_enabled: false
    messages_backend_url: http://localhost:3000/

    header_top_title: Provincia autonoma di Trento
    header_top_link: http://www.provincia.tn.it/
    footer_credits: 'La <strong>Stanza del cittadino</strong> &egrave; una iniziativa progettuale sperimentale del Comune di Tre Ville'

    ocsdc_iter_duration_start_status: 3
    ocsdc_iter_duration_end_statuses: [10,100]

    ocsdc_default_date_format: "d-m-Y"
    ocsdc_default_datetime_format: "d-m-Y H:i"

    ocsdc_default_moment_datetime_format: "DD-MM-YYYY HH:mm"

    ocsdc_default_time_format: "H:i"

    ocsdc_scheme: 'https'
    ocsdc_host:  devsdc.opencontent.it

    generate_p7m_thumbnail: true
    gsbinary: 'gs'

    mypay_adapter_url: 'http://localhost:3000'

    slack_logs_webhook_url: 'http://slack.com'
