# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    prefix: ''
    instance: ''
    protocollo: ''
    database_driver:   pdo_pgsql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encription: tls
    pec_mailer_transport:
    pec_mailer_host:
    pec_mailer_port:
    pec_mailer_user:
    pec_mailer_password:
    pec_delivery_address:
    default_from_email_address: sdc@opencontent.it

    logs_formatter: 'monolog.formatter.line'
    logs_path: '%kernel.logs_dir%/%kernel.environment%.log'

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # knp_snappy
    wkhtmlbinary:     '%kernel.root_dir%/../vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64'
    wkhtmltopdf_service: wkhtmltopdf

    # La password usata da gpa per pushare gli status changes
    giscom_password: giscom
    giscom_adapter_url: https://www.giscom.cloud/WebAPI/SDC/
    giscom_adapter_username: pippo
    giscom_adapter_password: passw

    # La password usata da comunweb per pushare le schede informative
    ez_password: ez

    pitre_adapter_url: http://localhost:8080/
    messages_enabled: false
    messages_backend_url: http://localhost:3000/

    header_top_title: Provincia autonoma di Trento
    header_top_link: http://www.provincia.tn.it/
    footer_credits: 'La <strong>Stanza del cittadino</strong> &egrave; una iniziativa progettuale sperimentale del Comune di Tre Ville'

    ocsdc_iter_duration_start_status: 3
    ocsdc_iter_duration_end_statuses: [10,100]

    ocsdc_default_date_format: "d-m-Y"
    ocsdc_default_datetime_format: "d-m-Y H:i:s"
    ocsdc_slim_datetime_format: "d/m/y H:i:s"
    ocsdc_default_moment_datetime_format: "DD-MM-YYYY HH:mm:ss"
    ocsdc_default_time_format: "H:i:s"

    ocsdc_scheme: 'https'
    ocsdc_host:  localtest.me

    generate_p7m_thumbnail: true
    gsbinary: 'gs'

    mypay_adapter_url: 'http://localhost:3000'

    slack_logs_webhook_url: 'http://slack.com'
    PasswordLifeTime: 30
    InactiveUserLifeTime: 60

    formserver_private_url: 'http://formserver.localtest.me'
    formserver_public_url: 'http://formserver.localtest.me'
    formserver_public_url: 'http://formserver.localtest.me'

    allowed_extensions:
      - doc: application/msword
      - docx: application/vnd.openxmlformats-officedocument.wordprocessingml.document
      - odt: application/vnd.oasis.opendocument.text
      - pdf: application/pdf
      - txt: text/plain
      - jpeg: image/jpeg
      - jpg: image/jpeg
      - png: image/png
      - gif: image/gif
      - p7m: application/pkcs7-mime
      - xp7m: application/x-pkcs7-mime
      - zip: application/zip

    hash_validity: 1

    token_ttl: 3600

    recaptcha_key: ''
    recaptcha_secret: ''

    login_callout_texts:
      title: 'Usi SPID o CPS?'
      text: "Puoi autenticarti con SPID o Carta Provinciale dei Servizi per la compilazione automatica dei campi ed il salvataggio della pratica nel tuo profilo. <br />(Si raccomanda l'utilizzo di Firefox o Chrome)"
      button: 'Entra con SPID/CPS'

    shibbolet_server_varnames:
      codiceFiscale: "shibb_pat_attribute_codicefiscale"
      capDomicilio: "shibb_pat_attribute_capdomicilio"
      capResidenza: "shibb_pat_attribute_capresidenza"
      cellulare: "shibb_pat_attribute_cellulare"
      cittaDomicilio: "shibb_pat_attribute_cittadomicilio"
      cittaResidenza: "shibb_pat_attribute_cittaresidenza"
      cognome: "shibb_pat_attribute_cognome"
      dataNascita: "shibb_pat_attribute_datanascita"
      emailAddress: "shibb_pat_attribute_emailaddress"
      emailAddressPersonale: "shibb_pat_attribute_emailaddresspersonale"
      indirizzoDomicilio: "shibb_pat_attribute_indirizzodomicilio"
      indirizzoResidenza: "shibb_pat_attribute_indirizzoresidenza"
      luogoNascita: "shibb_pat_attribute_luogonascita"
      nome: "shibb_pat_attribute_nome"
      provinciaDomicilio: "shibb_pat_attribute_provinciadomicilio"
      provinciaNascita: "shibb_pat_attribute_provincianascita"
      provinciaResidenza: "shibb_pat_attribute_provinciaresidenza"
      sesso: "shibb_pat_attribute_sesso"
      statoDomicilio: "shibb_pat_attribute_statodomicilio"
      statoNascita: "shibb_pat_attribute_statonascita"
      statoResidenza: "shibb_pat_attribute_statoresidenza"
      telefono: "shibb_pat_attribute_telefono"
      titolo: "shibb_pat_attribute_titolo"
      idCard: "shibb_IDCARD"
      x509certificate_issuerdn: "shibb_pat_attribute_x509certificate_issuerdn"
      x509certificate_subjectdn: "shibb_pat_attribute_x509certificate_subjectdn"
      x509certificate_base64: "shibb_pat_attribute_x509certificate_base64"
      spidCode: "shibb_pat_attribute_spid_code"
      shibSessionId: "shibb_Shib-Session-ID"
      shibSessionIndex: "shibb_Shib-Session-Index"
      shibAuthenticationIstant: "shibb_Shib-Authentication-Instant"
    sentry_dsn: ''
    login_route: 'login_pat' #name of the route
    single_logout_url: '/Shibboleth.sso/Logout'
    browsers_restrictions: null
    io_api_url: 'https://api.io.italia.it/api/v1'
    cache_max_age: '0'
    metrics_type: 'in_memory'
    metrics_redis_host: 'redis'
    metrics_redis_port: '6379'
    metrics_redis_password: ~
    upload_destination: ~
    s3_region: ~
    s3_key: ~
    s3_secret: ~
    s3_bucket: ~
    deda_login_client_id: 'example'
    deda_login_secret: 'example'
    deda_login_env: 'prod'
    kafka_url: null
    kafka_event_version: 1
    kafka_topics:
      applications: 'applications'
      services: 'services'
      meetings: 'meetings'
    api_version: 1
    cas_login_url: 'https://mycasserver/cas/'
    cas_validation_url: 'https://mycasserver/cas/serviceValidate'
