<script>
  $(document).ready(function($) {
    if (location.hostname !== 'stanzadelcittadino.it') {
      $('body').append('<div style="position: fixed; top: 38px; padding: 5px 0; right: -50px; left: auto; width: 200px; transform: rotate(45deg); -webkit-transform: rotate(45deg); background-color: #e43; color: #fff; text-align: center; z-index:9999">Sito di sviluppo</div>');
      $('body').css('overflow-x', 'hidden');
    }
  });
</script>