<footer id="footer" class="clearfix">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h3>Contatti</h3>
                <p>Via Torre Verde, 23 - 38122 Trento (Trento)<br />
                    Tel. +39 0461 987136<br />
                    Fax +39 0461 981978<br />
                    C.F./P.IVA: 01533550222</p>
                <p>Indirizzo email <a href="mailto:info@comunitrentini.it"> info@comunitrentini.it</a></p>
                <p>Posta Elettronica Certificata <a href="mailto:consorzio@pec.comunitrentini.it"> consorzio@pec.comunitrentini.it</a></p>
            </div>

            {#<div class="col-md-3 col-sm-6">
                <h3>Trasparenza</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Amministrazione Trasparente</a></li>
                    <li><a href="#">Bandi di Gara</a></li>
                    <li><a href="#">Contratti pubblici</a></li>
                    <li><a href="#">Telefono e posta elettronica</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6">
                <h3>Siti tematici</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
            </div>#}

            <div class="col-md-6 col-sm-6">
                <h3>Seguici su</h3>
                <p class="nav_social clearfix">
                    <a href="#" title="Seguici su Twitter">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-twitter fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Twitter</span>
                    </a>
                    <a href="#" title="Seguici su Facebook">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-facebook fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Facebook</span>
                    </a>
                    <a href="#" title="Seguici su Youtube">
                        <span class="fa-stack fa-lg">
                          <span class="fa fa-circle fa-stack-2x"></span>
                          <span class="fa fa-youtube-play fa-stack-1x fa-inverse"></span>
                        </span><span class="sr-only">Youtube</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- EOF #footer -->