<section id="pre-footer" class="clearfix container-fluid">
    <div class="row">
        <div class="col-xs-2">
            <div id="logo-footer">
                <a href="#" title="Home" rel="home">
                    <!-- Modifica logo in BN -->
                    <img src="{{ asset('bundles/app/images/logo-bw.png') }}" alt="Home" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="col-xs-10">
            <div id="site-name-footer">
                <h2>
                    <a href="#" title="Home">Stanza del cittadino</a>
                </h2>
            </div>
        </div>
    </div>
</section>
