<section id="subfooter" class="clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <ul class="list-inline list-unstyled">
                        <li><a href="#">Note legali</a></li>
                        <li><a href="#">Privacy policy e cookie</a></li>
                        <li><a href="#">Valutazione dei servizi</a></li>
                        <li><a href="#">Statistiche di accesso</a></li>
                        <li><a href="#">Feed RSS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- EOF:#subfooter -->