<section id="subfooter" class="clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <ul class="list-inline list-unstyled">
                        <li><a href="{{ path('home') }}">Home</a></li>
                        <li><a href="#">La stanza del cittadino</a></li>
                        <li><a href="#">Enti coinvolti</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Faq</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- EOF:#subfooter -->