{#
<section id="briciole" class="container px-4 my-4">
    <div class="row">
        <div class="col px-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a><span class="separator">/</span>
                    </li>
                    <li aria-current="page" class="breadcrumb-item active">
                        Amministrazione
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</section>#}
