{% set flashes = app.session.flashbag.all() %}
{% if flashes|length > 0  %}
<div class="container px-4 my-4">
  <div class="row">
    <div class="col-lg-12 px-lg-4 py-lg-2">
      {% for k,v in flashes %}
        {% set class = k %}
        {% if k == 'error' %}
          {% set class = 'danger' %}
        {% elseif k == 'feedback' %}
          {% set class = 'success' %}
        {% endif %}
        <div class="alert alert-{{ class }} flash-message">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {% for f in v %}
            <p>{{ f }}</p>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
