<a href="{{ path('operatori_subscriber_show', {'subscriber': value, 'tab': 'subscriptions', 'show_subscription': row.id }) }}"><svg class="icon icon-sm icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-zoom-in"></use></svg></a>
