<div class="row">
  <div class="col-7 text-truncate">
    <strong class="primary-color">{{ section_title|trans }}</strong>
  </div>
  <div class="col-2"></div>
  <div class="col-2">
    <strong class="primary-color">{{ 'pratica.protocollo'|trans }}</strong>
  </div>
  <div class="col-1"></div>
</div>
