{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>#}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"/>

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.21/datatables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
  <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
  <script>
    $(function () {
      $('#presidents').initDataTables({{ datatable_settings(datatable) }}, {
        searching: true,
        dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>"
      });
    });
  </script>
{% endblock %}

{% block main_content %}
  <section id="intro" class="container px-4 my-4">
    <div class="row">
      <div class="col-lg-12 px-lg-4 py-lg-2">
        <h2>Security Logs</h2>
      </div>

      <div class="col-lg-12">
        <div id="no-more-tables">
          <!-- Insert this where you want the table to appear -->
          <div id="presidents">Loading...</div>

          <!-- Insert this at the end of your body element, but before the closing tag -->


        </div>
      </div>
    </div>
  </section>
{% endblock %}
