<div id="pratica-summary">
  {% if pratica.dematerializedForms.data is defined %}
    <div class="row">
      <div class="col-sm-12">
        <div id="formio" class="formio-front formio-summary"
             data-locale="{{ app.request.locale }}"
             data-formserver_url="{{ formserver_url }}"
             data-form_id="{{ pratica.servizio.getFormIoId }}"
             data-submission="{{ pratica.dematerializedForms.data | json_encode }}">
        </div>
      </div>
    </div>
  {% endif %}
</div>
