<div class="row">
    <div class="col-xs-12 col-sm-3"><strong>{{ 'steps.scia.modulo_default.label'|trans() }}</strong></div>
    <div class="col-xs-12 col-sm-9">
        <ul class="list-group">
            {% if pratica.dematerializedForms.moduloDomanda.id|length>0 %}
                <li class="list-group-item scia-file">
                    {{ pratica.dematerializedForms.moduloDomanda.name }}
                    <div class="float-right">{{ include('AppBundle:Pratiche/summary/parts:download_allegato.html.twig', {'pratica':pratica, 'user': user, 'allegato_id': pratica.dematerializedForms.moduloDomanda.id}) }}</div>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
