<div class="row">
    <div class="col-xs-12 col-sm-3"><strong>{{ 'steps.scia.soggetti.label'|trans() }}</strong></div>
    <div class="col-xs-12 col-sm-9">
        {% if pratica.getRelatedCfs %}
            <ul class="list-group">
                {% for key, v in pratica.getRelatedCfs %}
                    <li class="list-group-item scia-file">
                        {{ v }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <em>{{ 'pratica.non_specificato'|trans() }}</em>
        {% endif %}
    </div>
</div>