{% if topics %}
	<div class="container py-5">
		<h2 class="title-xxlarge mb-4">{{ 'servizio.esplora_per_categoria' | trans }}</h2>
		<div class="row">
			{% for topic in topics %}		
				<div class="col-12 col-sm-6 col-lg-4">
					<article class="card-wrapper card-space topic">
						<div class="card card-bg rounded shadow border">
							<div class="card-body">
							<h5 class="card-title mb-2 big-heading">
								<a data-element="service-category-link" class="text-decoration-none" href="{{ path('category_show', {'slug': topic.object.slug}) }}">
									{{ topic.object.name }}
								</a>
							</h5>
							<p class="card-text">{{ topic.object.description|abstract }}</p>
							</div>
						</div>
					</article>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
