<div class="bg-primary-a6 d-none" id="{{ type }}-customer-satisfaction-container">
  <div class="container">
    <div class="row d-flex justify-content-center bg-primary">
      <div class="col-12 col-lg-6 p-lg-0 px-4">
       <div id="{{ type }}-customer-satisfaction"></div>
      </div>
    </div>
  </div>
</div>
