<form action="{{ path('search') }}" method="get">
  <div class="form-group floating-labels">
    <div class="form-label-group">
      <label for="search-field" class="sr-only">{{ 'search.label_keyword'|trans }}</label>
      <input type="text" autocomplete="off" class="form-control search-text" name="q" placeholder="{{ 'search.label_keyword'|trans }}" id="search-field">
      <button type="submit" class="autocomplete-icon btn btn-link" aria-label="{{ 'search.label_keyword'|trans }}">
        <svg class="icon"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-search"></use></svg>
      </button>
    </div>
  </div>
</form>
