$primary: #3478bd;
$primary-a6: $primary;
$primary-a7: #2b649e;
$bg-footer: #214c77;
$primary-h: 210;
$primary-s: 72;
$primary-b: 74;

@import "base";
@import "header";
@import "navigation";
@import "progressbar";
@import "override/forms";
@import "override/sdc";
@import "formio-components";
@import "calendars";
@import "components/messages";
@import "~outdated-browser-rework/style";
//@import "sweetalert2/dist/sweetalert2.min.css";
@import "~@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css";

@import "fonts";

.iter-timeline-wrapper {
  .it-now-label {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 1rem;
    font-family: $font-family-monospace;
    color: $primary-a6;
    font-weight: 600;
  }

  .row {
    position: relative;
    padding-top: $v-gap * 6;
    //padding-bottom: $v-gap*6;
    &:after {
      content: '';
      width: $timeline-width;
      background: $timeline-border-color;
      position: absolute;
      left: $v-gap * 5;
      top: -$v-gap * 2;
      bottom: -$v-gap * 2;
    }
  }

  .timeline-element {
    padding: 6px 0 6px 50px;

    .card {
      background-color: #efefef;
    }
  }

  .it-pin-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: -$timeline-pin-circle-size*0.5;
    z-index: 5;
    left: $timeline-padding;

    .pin-icon {
      width: $timeline-pin-circle-size;
      height: $timeline-pin-circle-size;
      border-radius: $timeline-pin-circle-size;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $card-shadow;
      border: $timeline-pin-circle-border;
      margin-right: $v-gap * 2;
      background: #fff;
      &.in-progress{
        background:#efefef !important;
      }
    }

    svg {
      width: $timeline-pin-size;
      height: $timeline-pin-size;
      fill: $primary-a6;
    }

    .pin-text {
      color: $select-label-color;
      font-weight: 600;
      text-transform: uppercase;
      background: $primary-c1;
      border-radius: $border-radius;
      font-family: $font-family-monospace;
      font-size: 14px;
      margin-right: 1rem;

      span {
        padding: $v-gap*0.5 $v-gap * 2;
        display: block;
        position: relative;

        &:after {
          content: '';
          width: 10px;
          height: 10px;
          background: $primary-c1;
          border-radius: 3px;
          position: absolute;
          left: -4px;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    &.it-now {
      .pin-icon {
        background: $primary-a6;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a6;

        span {
          &:after {
            background: $primary-a6;
          }
        }
      }
    }

    &.it-evidence {
      .pin-icon {
        background: $primary-a10;
      }

      svg {
        fill: #fff;
      }

      .pin-text {
        color: #fff;
        background: $primary-a10;

        span {
          &:after {
            background: $primary-a10;
          }
        }
      }
    }
  }
}

.dataTables_paginate {
  a {
    padding: 5px 10px;
    background-color: #EFEFEF;
    border: 1px solid #ccc;
    margin-left: 4px;
    text-decoration: none;
    cursor: pointer;

    &.disabled {
      color: #ccc;
      cursor: auto;
    }

    &.current {
      color: $white;
      background-color: $primary;
    }
  }
}


@media screen {
  #pratica-summary, .formio-read-only {
    .d-preview-calendar {
      display: block;
    }

    .d-preview-calendar-none {
      display: none;
    }
  }
  .d-preview-calendar {
    display: none;
  }
  .d-preview-calendar-none {
    display: block;
  }
}

.d-none {
  &-FormIO {
    display: none;
  }

  &-SciaPraticaEdilizia {
    display: none;

  }
}

//Fix resize label in tabs
.tab-content .form-group label {
  width: auto !important;
}

.truncate-wrapper {
  max-width: 75%;

  .chip-label {
    height: auto !important;
    transform: none !important;
  }
}

.notification.top-right-fix {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 0;
  transform: translateX(0%);
  bottom: auto;
  right: 0;
  z-index: 10;
}

.flex-1 {
  flex: 1
}

.text-forward {
  color: $black;
  text-decoration: none;

  :focus {
    text-decoration: none;
  }
}

.h {
  &-80 {
    height: 80px;
  }

  &-70 {
    height: 70px;
  }

  &-60 {
    height: 60px;
  }

  &-50 {
    height: 50px;
  }

  &-40 {
    height: 40px;
  }
}

.tooltip-inner {
  font-size: 12px;
}

.icon {
  &-50 {
    height: 50px;
    width: 50px;
  }

  &-70 {
    height: 70px;
    width: 70px;
  }
}

a.list-item.left-icon {
  position: relative;
  padding-left: inherit !important;
}

// Hide checkbox gateways
.row-payments {
  .form-check > [type='checkbox'] + label::after,
  .form-check > [type='checkbox'] + label::before {
    z-index: -2;
  }

  .collapse-header *[data-toggle='collapse'] {
    border-top: 0
  }
}

.p-contacts {
  padding: 2.5rem 1.5rem;
}

.bg-grey-card {
  background: #ebeef0;
}

.shadow-contacts {
  box-shadow: inset 0 10px 14px -12px rgb(0 0 0 / 34%);
}

.bg-primary{
  &-a6{
    background-color: $primary-a6;
  }
}


/*************************/


.bg-grey-card {
  background: #ebeef0
}

.cmp-contacts {
  ul {
    list-style: none;
    margin: 0;
  }

  .contact-list li {
    line-height: 1.5;
    margin: 0.889rem 0;
    font-weight: 400;

    &:last-child {
      margin-bottom: 0;
    }

    & span {
      margin-left: 10px;
    }
  }

  .card:after {
    content: none;
  }

  .title-medium-2-semi-bold {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;

    @media(min-width: 576px) {
      font-size: 1.3333333333rem
    }
    @media(min-width: 768px) {
      line-height: 1.2
    }
  }
}

.cmp-info-progress {
  margin-bottom: 1.5rem;

  .icon.icon-sm {
    width: 1.167rem;
    height: 1.167rem;
    min-width: 1.167rem;
  }

  .info-progress-wrapper:not(:last-child) {
    border-right: 1px solid #e7eaed;
  }
  .step-active .info-progress-body {
    border-bottom: 2px solid $primary;
  }

  .completed .title-medium, .cmp-info-progress .step-active .title-medium {
    font-weight: 700;
    color: $primary;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 2.222rem;
  }

  .info-progress-body {
    border-bottom: 2px solid transparent;
  }

  .info-progress-wrapper {
    &:first-child {
      border-left: none;
    }

    &:not(:last-child) {
      border-right: 1px solid #E7EAED;
    }
  }

  .completed{
    .title-medium {
      font-weight: 700;
      color: $primary;
    }
  }

  .step-active {
    .title-medium {
      font-weight: 700;
      color: $primary;
    }

    .info-progress-body {
      border-bottom: 2px solid $primary;
    }
  }

  .iscrizioni-header {
    .drop-shadow {
      box-shadow: 0 0.9375rem 1.325rem -0.9rem rgba(0, 0, 0, 0.1);
    }

    .step-wrapper {
      font-weight: 700;
      line-height: 30px;
    }

    .step-title {
      font-weight: 600;
      line-height: 2;
      padding: 0.875rem 0;
      font-size: 1.125rem;

      @include media-breakpoint-up(sm) {
        padding: 0.777rem 0;
        font-size: 1rem;
      }
    }

    .step {
      font-weight: 600;
      line-height: 1.5;
    }
  }
}

.cmp-nav-steps {
  box-shadow: 0 -0.6375rem 1.125rem -0.9rem rgb(0,0,0,0.1);
  margin-top: 3.875rem;

  @include media-breakpoint-up(sm){
    margin-top: 3.44rem;
  }

  @include media-breakpoint-up(md) {
    border-top: 1px solid #ebeef0;
    margin-top: 2.22rem;
    box-shadow: unset;
  }

  .steppers-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 0 3.125rem 0;

    @include media-breakpoint-up(sm) {
      padding: 0.56rem 0 2.78rem 0;
    }

    @include media-breakpoint-up(md) {
      padding: 0.89rem 0 4.44rem 0;
    }
    @include media-breakpoint-down(md) {
      flex-direction: row !important;
    }
  }

  .btn:not(:first-child) {
    padding: 0.625rem 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .icon.icon-sm {
      width: 1.3rem;
      height: 1.3rem;
    }

    @include media-breakpoint-up(sm){
      padding: 0.56rem 0.89rem;

      .icon.icon-sm {
        width: 1.167rem;
        height: 1.167rem;
      }
    }

    @include media-breakpoint-up(md) {
      width: 8.89rem;
    }

  }

  .btn.center{
    min-width: 5rem;

    @include media-breakpoint-up(sm) {
      min-width: 4.44rem;
    }
  }

  .btn.send{
    min-width: 6.125rem;

    @include media-breakpoint-up(sm) {
      min-width: 5.44rem;
    }
  }
}

  .t-primary {
    color: $primary;
  }

  .text-button-sm {
    font-size: 1rem;
    line-height: 1.5;
    @media (min-width: 576px) {
      font-size: .8888888889rem;
    }
  }


.cmp-heading {
  .subtitle-small, p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;

    @media (min-width: 576px) {
        font-size: 1rem;
    }
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
  }
}

.max-w{
  &-300{
    max-width: 300px;
  }
}

.formio-form nav {
  background-color: transparent;
}

