<div class="mt-3 text-right">
  <a href="{{ path('admin_servizio_index') }}" class="btn btn-outline-secondary">{{ 'annulla'|trans }}</a>
  {% if next_step %}
    <button name="save" type="submit" value="next" class="btn btn-secondary">{{ 'avanti'|trans }}</button>
  {% endif %}
  <button name="save" type="submit" value="save" class="btn btn-primary">{{ 'salva'|trans }}</button>
</div>
