{% set ente = app.instanceService.getCurrentInstance() %}
{% set backoffices = app.getBackoffices.getNav %}

{% if ente.backofficeEnabledIntegrations|length > 0 %}
  <li class="nav-item">
    <div class="dropdown">
      <a class="btn btn-dropdown dropdown-toggle" style="padding: 0.5rem 1rem; font-weight: 300" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Integrazioni
        <svg class="icon-expand icon icon-sm icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <div class="link-list-wrapper">
          <ul class="link-list">
            {% for key,value in backoffices  %}
              {% if key in ente.backofficeEnabledIntegrations %}
                <li><a class="list-item" href="{{ path(key) }}"><span>{{ value }}</span></a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </li>
{% endif %}
