{% set download_allegato_path = user.id == pratica.user.id ? 'allegati_download_cpsuser' : 'risposta_download_operatore' %}
{% if pratica.statusName == 'STATUS_COMPLETE' or pratica.statusName == 'STATUS_CANCELLED' %}
  {% if pratica.rispostaOperatore %}
    <div class="row">
      <div class="col-8">
        Protocollo risposta:<br/>
        <code>{{ pratica.rispostaOperatore.numeroProtocollo }}</code>
      </div>
      <div class="col-4">
        <a class="btn btn-md btn-info"
           href="{{ path(download_allegato_path, {'allegato': pratica.rispostaOperatore.id}) }}">
          {{ 'operatori.scarica_risposta_firmata'|trans }}</a>
      </div>
    </div>
  {% endif %}
{% endif %}
