<div class="modal fade" id="confirm" tabindex="-1"
     role="dialog"
     aria-labelledby="confirmAutoAssignLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{ 'steps.common.conferma.sei_sicuro_di_inviare'|trans }}
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal"
                class="btn">{{ 'steps.common.conferma.no'|trans }}</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary"
                id="ok">{{ 'steps.common.conferma.si'|trans }}</button>
      </div>
    </div>
  </div>
</div>
