{% set text_area_limit = 30 %}
{% set text_limit = 100 %}

<article class="card-wrapper card-space">
  <div class="card card-bg rounded shadow">
    <div class="card-body">
      <div class="category-top">
        <span class="category"></span>
      </div>
      <h5 class="card-title">
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
        </svg>
        {{ servizio.name }}
      </h5>
      <p
        class="card-text">{{ servizio.description|length > text_limit ? servizio.description|slice(0, text_limit)|striptags ~ '...' : servizio.description|striptags }}</p>
      <a class="read-more stretched-link text-decoration-none" href="{{ path('service_group_show', {'slug': servizio.slug}) }}">
        <span class="text">Leggi di più</span>
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</article>
