{% if route is not defined %}
  {% set route = 'esplora_servizi_show' %}
{% endif %}

<article class="card-wrapper card-space">
  <div class="card card-bg card-big rounded shadow">
    <div class="flag-icon"></div>
    <div class="card-body">
      <h5 class="card-title">{{ servizio.name }}</h5>
      {% if not servizio.shortDescription is same as(servizio.name) %}
        <p class="card-text">{{ servizio.shortDescription|abstract }}</p>
      {% endif %}
      <a class="read-more stretched-link" href="{{ path('service_group_show', {'slug': servizio.slug}) }}">
        <span class="text">{{ 'read_more' | trans }}</span>
        <svg class="icon">
          <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</article>
