<div class="point-list-wrapper mb-3">
  {% for label, checkpoint in serviceDates | sort %}
    <div class="point-list point-list-step">
      <div class="point-list-aside point-list-primary px-4 py-2">
        <div class="small">{{ checkpoint | date('Y') }}</div>
        <div class="point-date font-weight-bolder large">{{ checkpoint | date('d') }}</div>
        <div class="small text-lowercase font-weight-semibold">{{ ('calendars.opening_hours.months.short.' ~ ( checkpoint | date('M'))) | trans }}</div>
      </div>
      <div class="point-list-content mb-3">
        <div class="card card-teaser rounded shadow">
          <div class="card-body">
            <h5 class="font-weight-bolder text-primary mb-0">{{ label | trans }}</h5>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
