<div class="link-list-wrapper multiline">
  <ul class="link-list">
    {% for pratica_recente  in pratiche_recenti %}
      <li>
        <a class="list-item large medium left-icon icon-left pr-0"
           href="{{ path('pratica_show_detail', {'pratica': pratica_recente }) }}">
          <span style="line-height: 1.5">{{ pratica_recente.servizio.name }}</span>
          <svg class="icon icon-primary icon-left mt-2 pr-1">
            <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-file"></use>
          </svg>
          <p class="m-0">
            acquisita il {{ pratica_recente.submissionTime | date('d/m/Y H:i:s') }} <span class="badge badge-light text-decoration-none">{{ pratica_recente.statusName | trans }}</span>
          </p>
        </a>
      </li>
    {% if not loop.last %}<li><span class="divider"></span>{% endif %}
    {% endfor %}
  </ul>
</div>
