<html>
<head>
  {{ include('App:Pratiche/pdf/parts:style.html.twig', {'pratica':pratica, 'user': user}) }}
</head>
<body>

<div class="chiede center_title">
  <span class="text-uppercase"></span>
</div>

<div class="richiesta">
  <p>
    {{ message.message }}
  </p>
</div>

<div class="data">
  <p>
    {{ 'pratica.pdf.luogo'|trans()|raw }}
    {{ message.createdAt|date("d/m/Y H:m") }}
  </p>
</div>

</body>
</html>
