{% extends '@App/Default/index.html.twig' %}

{% block main_content %}
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <h1>Iscrizione asilo nido</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                {{ include('AppBundle:Pratiche/parts:pratica_summary.html.twig', {'pratica':pratica}) }}
            </div>


            <div class="col-md-4 col-md-offset-1 sidebar">
                <h3>Iter pratica</h3>
                <div class="panel no-border-radius">
                    <div class="panel-body">
                        <ul class="progress-indicator stepped stacked nocenter">
                            <li class="completed info">
                                <a href="#">
                                    <span class="bubble"></span>
                                    <span class="stacked-text">
                                        <span class="fa fa-calendar"></span> {{ pratica.creationTime|date('d/M/y') }}
                                        <span class="subdued">/ Compilazione</em></span>
                                    </span>
                                </a>
                            </li>
                            <li class="completed">
                                <span class="bubble"></span>
                                <span class="stacked-text">
                                    <span class="fa fa-calendar"></span> {#{ pratica.submissionDate|date('d/M/y') }#}
                                    <span class="subdued">/ Invio</span>
                                </span>
                            </li>
                            <li class="{% if pratica.status > 2 and pratica.status < 4 %}completed{% endif %}">
                                <span class="bubble"></span>
                                <span class="stacked-text">
                                <span class="fa fa-calendar"></span> {#{ pratica.presInCaricoOperatoreDate|date('d/M/y') }#}
                                    <span class="subdued">/ Presa in carico da <strong>{% if pratica.operatore %}{{ pratica.operatore.nome }} {{ pratica.operatore.cognome }}{% else %} &dash; {% endif %}</strong></span>
                                </span>
                            </li>
                            {#<li>#}
                            {#<span class="bubble"></span>#}
                            {#<span class="stacked-text">#}
                            {#<span class="fa fa-comment"></span> 3 Settembre 2016#}
                            {#<span class="subdued">/ Domande integrative</span>#}
                            {#</span>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
                <h3>Azioni</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item">Contatta responsabile</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
