<!doctype html>
<html lang="it">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
  <script src="{{ url('bazinga_jstranslation_js') }}/messages/{{ app.request.locale }}.js"></script>
  {% block javascripts %}{% endblock %}
</head>
<body>

{% block content_container %}
    {% block main_content %}{% endblock %}
{% endblock %}
{% block footer_scripts %}{% endblock %}
</body>
</html>


