{% extends ':default:index.html.twig' %}
{% block main_content %}

    {% if user != null %}{{ user.fullName }}{%  endif %}

    {% set route = app.request.attributes.get('_route') %}
    {% if app.request.attributes.has('_forwarded') %}
        {% set route = app.request.attributes.get('_forwarded').get('_route') %}
    {% endif %}
    {% set route = route|replace({ ('list'): 'show' }) %}

    <h1>{{ 'esplora_i_servizi'|trans() }}</h1>
    <ul>
        {% for service in services %}
            <li class="servizio">
                <a href="{{ path(route, {'slug': service.slug}) }}">{{ service.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{#
<div class="row">
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>Note</p>
        <div class="panel no-border-radius">
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat lectus sed tellus consequat, sit amet lacinia dolor ullamcorper.</p>
            </div>
        </div>
    </div>
</div>#}
