{% extends '@App/Default/index.html.twig' %}
{% block main_content %}

    <h1>{{ servizio.name }}</h1>

    {% if user == null %}
        <em>{{ 'registrati_per_accedere_al_servizio'|trans() }}</em>
    {% else %}

        <a href="{{ path('pratiche_new', {'servizio': servizio.slug}) }}">
            {{ 'accedi_al_servizio'|trans({'%name%': servizio.name}) }}
        </a>


    {% endif %}

{% endblock %}
