{% extends '::base.html.twig' %}
{% block body %}
Servizi {% if user %}{{ user.name }}{% else %}World{% endif %}!

{% for service in services %}
    <div class="servizio">{{ service.name }}</div>
{% endfor %}
{% endblock %}
