{% extends ':default:index.html.twig' %}
{% block main_content %}

    <h1>{{ service.name }}</h1>

    {% if user == null %}
        <em>{{ 'registrati_per_accedere_al_servizio'|trans() }}</em>
    {% else %}
        <a href="{{ path('servizi_run', {'slug': service.slug}) }}">
            {{ 'accedi_al_servizio'|trans({'%name%': service.name}) }}
        </a>
    {% endif %}

{% endblock %}
