<button class="btn btn-link btn-xs p0" type="button" data-toggle="popover" title="Id pratica" data-content="{{ row.id }}">
  <svg class="icon icon-sm icon-primary"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-info-circle"></use></svg>
</button>
