#formio,
.formio-form {
  .form-check {
    label {
      input[type='checkbox'],
      input[type='radio'] {
        margin-left: 0px;
        position: unset;
        left: unset;
        opacity: 1;
        cursor: pointer;
      }

      span {
        margin-left: 0.8rem;
      }
    }
  }
}

.form-group {
  label {
    position: relative;
    white-space: normal;

    &.active {
      transform: unset;
      font-size: inherit;
    }
  }
}

.formio_render {
  ul.craue_formflow_steplist > li:first-child.wizard {
    &:after {
      content: '';
      display: block;
      height: 20px;
      left: 50%;
      position: absolute;
      width: 20px;
      border: 15px solid transparent;
      border-bottom: 15px solid #ddd;
      margin-top: 0.1rem;
      margin-left: -1rem;
    }
  }

  #formio {
    /*padding: 8px;
    background-color: #f2f2f2;*/

    .formio-component {
      /*background-color: #f2f2f2;*/
    }

    .formio-choices {
      .form-control {
        box-shadow: none;
      }
    }

    nav {
      padding: 11px;
      background-color: #ddd;
      margin-bottom: 20px;
      text-align: center;
      .pagination {
        margin-bottom: 0 !important;
        li {
          border: 1px solid #ccc;
          background-color: $white;
          &.active {
            background-color: $primary;
            span {
              color: $white;
              &:after {
                content: '';
                border: 7px solid transparent;
                border-left: 10px solid white;
                margin-left: 5px;
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }
}
